@(title: String)(content: Html)

<!DOCTYPE html>


<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='@routes.Assets.at("javascripts/jquery-1.10.2.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/html5.js")'> </script>
        <link href='@routes.Assets.at("stylesheets/bootstrap.css")' rel='stylesheet' type='text/css'  />
        <link href='@routes.Assets.at("stylesheets/style-responsive.css")' rel='stylesheet' type='text/css'  />
        <link href='@routes.Assets.at("images/favicon.gif")' rel='icon' type='image' />



    </head>
    <body>

    </body>
</html>
